    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blu's Workskin Visualizer</title>

    <!-- Site CSS -->
    <link rel="stylesheet" href="css/site_style.css">

    <!-- Favicon for desktop -->
    <link rel="icon" type="image/png" href="assets/Bluish_Frog_Logo_transparent_square.png">

    <!-- Apple/iOS icon -->
    <link rel="apple-touch-icon" href="assets/Bluish_Frog_Logo_transparent_square.png">

    <!-- For older browsers -->
    <link rel="shortcut icon" href="assets/Bluish_Frog_Logo_transparent_square.png">