<nav class="site-nav">
    <div class="nav-content">

        <!-- Logo  -->
        <a href="index.html" class="home-link">
            <img src="assets/Bluish_Frog_Logo_transparent.png" alt="Home">
        </a>

        <!-- Navigation Links -->
        <div class="nav-links">
            <!-- Navigation Links -->
            <span class="separator"></span>
            <a href="index.html">Workskin Visualizer</a>
            <span class="separator"></span>
            <a href="contact.html">Ramblings</a>
        </div>

        <!-- Theme Toggle -->
        <div class="nav-theme-toggle">
            <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme">
                <span class="toggle-track">
                    <span class="toggle-thumb"></span>
                </span>
            </button>
        </div>
        
    </div>

</nav>